@charset "UTF-8";
.image_banner{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#FBDC4E;
}

.content{
	padding-top: 20px;
}
.post-description {
  color: #606054;
}

p{
	color: #606054;
}